[user]
#	name = 张羽
#	email = zhangyu@utry.cn
[core]
    autocrlf = input
    quotepath = false
	excludesfile = /Users/notalk/.gitignore_global
[user]
	name = 伴读小书童
	email = 33862677@qq.com
[alias]
    st = status
    cm = commit
    br = branch
    co = checkout
    df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/notalk/.stCommitMsg
